div {
  color: var(--color-button-background);
  background-color: var(--color-background);
  border: 2px solid var(--color-button-background);
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  font-weight: bold;
  animation: fadeInScale 0.5s ease-in-out;
  text-align: center;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
